<!DOCTYPE HTML>
<html>
<head>
<title>Edit Profile-YLT Online Shopping System </title>
<link rel="stylesheet" href={{ url_for('static', filename='css/editProfile.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<a href="/">
		<img id="logo" src= {{ url_for('static', filename='images/logo.PNG') }} />
	</a>
	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Search">
	</form>

	{% if not loggedIn %}
	<div id="signInButton">
		<a class="link" href="/loginForm">Sign In</a>
	</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Hello, <br>{{name}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Your orders</a>
			<a href="/account/profile">Your profile</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/cart">
			<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
		</a>
        CART {{noOfItems}}
	</div>
</div>

<div class="display", align="center">
	<h1>Edit profile</h1>
    <p>{{msg}}</p>
	<form action="/updateProfile" method="POST">
        <h3><p>Email:<input type="email" name="email" value={{profileData[1]}} readonly="readonly"></p></h3>
        <h3><p>Name:<input type="text" name="name" value={{profileData[2]}}></p></h3>
        <h3><p>Phone Number: <input type="text" name="phone" value={{profileData[3]}}></p></h3>
        <h3><input type="submit" value="Save"></h3>
	</form>
    <h3><a href="{{ url_for('profileHome') }}">Go to Profile</a></h3>
</div>
</body>
</html>

