<html>
<head>
    <title>Registration-YLT Online Shopping System</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}">
    </script>
    <style>
        h1 {
            color: #FFFFFF;
        }
    </style>
</head>
<body>
    <div id="title">
        <a href="/">
            <img id="logo" src={{ url_for('static', filename='images/logo.PNG') }} />
        </a>
        <h1 align="center">Registration</h1>
    </div>
    <div align="center">
        <p>{{error}}</p>
        <form action="/register" method="POST" onsubmit="return validate()">
            <h3><p>Email: <input type="email" name="email"></p></h3>
            <h3><P>Password: <input type="password" name="password" id="password" required></P></h3>
            <h3><p>Confirm Password: <input type="password" name="cpassword" id="cpassword">{{error}}</p></h3>
            <h3><p>Name: <input type="text" name="name"></p></h3>
            <h3><p>Phone Number: <input type="text" name="phone"></p></h3>
            <h3><p><input type="submit" value="Register"></p></h3>
            <h3><a href="/loginForm">Login here</a></h3>
        </form>
    </div>
</body>
</html>

