<!DOCTYPE HTML>
<html>
<head>
<title>View Profile </title>
<link rel="stylesheet" href={{ url_for('static', filename='css/viewProfile.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<a href="/">
		<img id="logo" src= {{ url_for('static', filename='images/logo.PNG') }} />
	</a>
	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Search">
	</form>

	{% if not loggedIn %}
	<div id="signInButton">
		<a class="link" href="/loginForm">Sign In</a>
	</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Hello, <br>{{name}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Your orders</a>
			<a href="/account/profile">Your profile</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/cart">
			<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
			CART {{noOfItems}}
		</a>
	</div>
</div>

<div class="display", align="center">
	<h1>View profile</h1>
    <form>
    <h3><p name="email">Email: {{profileData[1]}}</p></h3>
    <h3><p name="name">Name: {{profileData[2]}}</p></h3>
    <h3><p name="phone">Phone Number: {{profileData[3]}}</p></h3>
	</form>
    <h3><a href="{{ url_for('profileHome') }}">Go to Profile</a></h3>
</div>
</body>
</html>

