<!DOCTYPE HTML>
<html>
<head>
<title>Your Orders</title>
<link rel="stylesheet" href={{url_for('static', filename='css/cart.css')}} />
<link rel="stylesheet" href={{url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<a href="/">
	<img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
	</a>
	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Search">
	</form>

	{% if not loggedIn %}
		<div id="signInButton">
			<a class="link" href="/loginForm">Sign In</a>
		</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Hello, <br>{{name}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Your orders</a>
			<a href="/account/profile">Your profile</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/cart">
		<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
		</a>
        CART {{noOfItems}}
	</div>
</div>
<div id="cartItems", align="center">
	<h1>Your Orders</h1>
	<div id="tableItems">
		{% for row in products %}
		<div>
			<hr style="margin: 0px; max-width: 400px;">
			<div id="itemName">
				<span id="itemNameTag">{{row[0]}}</span><br>
			</div>
			<div id="itemName">
				{{row[1]}}<br>
				{% for i in row[2] %}
					{{i}}<br>			
				{% endfor %}
			</div>
			<div id="itemPrice">
				<p>total ${{row[3]}}</p><br>
			</div>
		</div>
		{% endfor %}
		<hr id="seperator">
		
	</div>
</div>
</body>
</html>

